p{
    font-size: 2em;
}

/* Search Assets */
.search-card{ /* Usse this on the card flexbox */
    width: 300px;
    height: 400px;
}
.search-card > header{ /* Use this on an HTML Heading */
    font-size: 1em;
}

/* Recipe View CSS */
.recipe-header{ /* Use this on an HTML Heading */
    font-size: 2em;
}
.recipe-ingredients-table{
    border: 0;
}
.recipe-ingredients-table > tr{
    font-style: italic;
}
.recipe-description {
    text-indent: 5em;
}